__pycache__
.mypy_cache
static/imgs/*
.ipynb_checkpoints
.sshyncignore
*.pb
*.weights
.env
config.yml
dist
imgs/outputcv.jpg
*.egg*
celerybeat-schedule
celeryd.pid
venv
models/ssd_mobilenet/*
ssd_mobilenet.tar.gz
*.log
*.pyc
*voc.so
