---

cameras:
  - name: webcam
    # usb: 0
    # video: 'video.mp4'
    # rtsp: 'rtsp://webcamip:8554/test'
    source: 0
    # 90
    # 180
    # 270
    rotation: 0

# pc
# pi
# jetson
device: pc

# Possible models:
#   ssd_detection 
#   yolo_detection
#   cascade 
#   motion
#   ssd_trt_detection (only with gpu device)
model: ssd_detection

# Capture continous interval
beat_interval: 1

# vim:filetype=yaml
