[Unit]
Description=Celery task worker

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m celery -A backend.camera_pi worker --purge -c 1 -B --loglevel=INFO
WorkingDirectory=/home/pi/object-detection
User=pi

[Install]
WantedBy=multi-user.target
