upstream backend{
    server 127.0.0.1:5000;
}

upstream frontend{
    server 127.0.0.1:4200;
}

server {
    listen ${PORT_NGINX} default_server;
    server_name  _;

    gzip on;
    gzip_types      text/plain application/xml image/jpeg image/jpg;
    gzip_proxied    no-cache no-store private expired auth;
    gzip_min_length 1000;

    location ${BASEURL}/ {
        proxy_pass http://frontend;
        proxy_http_version 1.1;
        proxy_set_header Host localhost:4200;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    location ~ /sockjs-node {
        proxy_pass http://frontend;
        proxy_http_version 1.1;
        proxy_set_header Host localhost:4200;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    location ~ ${BASEURL}/(api|imgs) {
        proxy_pass http://backend;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

}

# vim:filetype=nginx
