<!DOCTYPE html>
<html> 
   <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
          Home
      </a>
      <a class="navbar-item" href="/images">
          Images
      </a>
      <a class="navbar-item" href="/video_feed">
          Video
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Object detection</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Object detection</h1>
        </div>
      </div>
    </section>
  </body>
</html>
